<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recipe Book</title>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<div class="container">
<p id="notice"><%= notice %></p>

<h1 id="index_title">Recipes</h1>
<div class="recipe-container">
  <div class="row">
    <% @recipes.each do |recipe| %>
    <div class="recipe-box-col">
      <div class="recipe-box">
        <% if recipe.image? %>
          <%= link_to (image_tag recipe.image.url, class: "recipe-index"), recipe %>
        <% end %>
        <ul>
          <li><%= recipe.title %></li>
          <li><%= recipe.description %></li>
          <li><%= link_to 'Show', recipe %> |
              <%= link_to 'Edit', edit_recipe_path(recipe) %> |
              <%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div><!--repipe-container-->
    </div><!--col-md-4-->
    <% end %>
</div><!--row ends-->

<br>

  <%= link_to 'New Recipe', new_recipe_path %>

</div>